<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>patches</key>
	<array>
		<dict>
			<key>url</key>
			<string>https://127.0.0.1</string>
			<key>apiVersion</key>
			<integer>3</integer>
			<key>appIdentifier</key>
			<string>com.meituan.imeituan</string>
			<key>appVersion</key>
			<string>9.14.400</string>
      <key>author</key>
			<string>5201314zhang</string>
			<key>cloudDescription</key>
			<string>1 启动广告
2去除首页商品
3去除首页热词
4去除订单横幅
5去除订单留白
6去除首页新人红包
8去除首页中间横幅
9.屏蔽顶部特大横幅
10.替换更棒的函数

2020.9.10更新
11.净化待付款界面
12.净化搜索界面
13.外卖界面～右下角漂浮
14.外卖界面～顶部广告
15.外卖界面～中部横幅
16.精简我的版块

更多补丁，有问题，定制，联系V：354548938（+微信群）</string>
			<key>name</key>
			<string>✞ 美团11.1.401优化~2020.9.11更新</string>
			<key>switchedOn</key>
			<true/>
			<key>tableViewIndex</key>
			<integer>60</integer>
			<key>units</key>
			<array>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>PFBFloatingLayerViewController</string>
						<key>displayName</key>
						<string>-(void) setFloatingImageView:(id)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>setFloatingImageView:</string>
						<key>typeEncoding</key>
						<string>v24@0:8@16</string>
					</dict>
					<key>name</key>
					<string>去除首页小黄鸭</string>
					<key>overrides</key>
					<array/>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>IPFOrderListBannerView</string>
						<key>displayName</key>
						<string>-(void) setUpSubviews</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>setUpSubviews</string>
						<key>typeEncoding</key>
						<string>v16@0:8</string>
					</dict>
					<key>name</key>
					<string>订单页面顶部横幅</string>
					<key>overrides</key>
					<array/>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>PFBHomeFeedDynamicCell</string>
						<key>displayName</key>
						<string>-(void) updateData:(id)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>updateData:</string>
						<key>typeEncoding</key>
						<string>v24@0:8@16</string>
					</dict>
					<key>name</key>
					<string>首页新人红包</string>
					<key>overrides</key>
					<array/>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>IPFOrderListCategoryViewController</string>
						<key>displayName</key>
						<string>-(void) setTopBannerObjects:(id)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>setTopBannerObjects:</string>
						<key>typeEncoding</key>
						<string>v24@0:8@16</string>
					</dict>
					<key>name</key>
					<string>去除订单横幅留白</string>
					<key>overrides</key>
					<array/>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>PFBHomeSearchHotWordData</string>
						<key>displayName</key>
						<string>-(void) setHotWordInfos:(id)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>setHotWordInfos:</string>
						<key>typeEncoding</key>
						<string>v24@0:8@16</string>
					</dict>
					<key>name</key>
					<string>首页搜索热词</string>
					<key>overrides</key>
					<array/>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>PFBHomeGuessLikeOldDynamicCell</string>
						<key>displayName</key>
						<string>-(void) addLayoutView</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>addLayoutView</string>
						<key>typeEncoding</key>
						<string>v16@0:8</string>
					</dict>
					<key>name</key>
					<string>首页中间横幅</string>
					<key>overrides</key>
					<array/>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>PFBDynamicLayoutData</string>
						<key>displayName</key>
						<string>-(void) setResponseJSONObject:(id)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>setResponseJSONObject:</string>
						<key>typeEncoding</key>
						<string>v24@0:8@16</string>
					</dict>
					<key>name</key>
					<string>屏蔽顶部特大横幅</string>
					<key>overrides</key>
					<array/>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>METStartupView</string>
						<key>displayName</key>
						<string>-(void) setStartUpViewModel:(id)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>setStartUpViewModel:</string>
						<key>typeEncoding</key>
						<string>v24@0:8@16</string>
					</dict>
					<key>name</key>
					<string>屏蔽启动广告</string>
					<key>overrides</key>
					<array/>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>PFBHomeGuessLikeModule</string>
						<key>displayName</key>
						<string>-(void) setupModule</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>setupModule</string>
						<key>typeEncoding</key>
						<string>v16@0:8</string>
					</dict>
					<key>name</key>
					<string>首页推荐模块</string>
					<key>overrides</key>
					<array/>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>GCBaseModulesViewControllerPullRefreshViewForMT</string>
						<key>displayName</key>
						<string>-(void) initialViews</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>initialViews</string>
						<key>typeEncoding</key>
						<string>v16@0:8</string>
					</dict>
					<key>name</key>
					<string>刷新图层</string>
					<key>overrides</key>
					<array/>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>MRMRecommendationViewController</string>
						<key>displayName</key>
						<string>- (void)​viewDidLoad</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>viewDidLoad</string>
						<key>typeEncoding</key>
						<string>v16@0:8</string>
					</dict>
					<key>name</key>
					<string>待付款界面～商品推荐</string>
					<key>overrides</key>
					<array/>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>PFBSearchHotWordsViewController</string>
						<key>displayName</key>
						<string>- (long long)​tableView:(id) numberOfRowsInSection:(long long)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>tableView:numberOfRowsInSection:</string>
						<key>typeEncoding</key>
						<string>q32@0:8@16q24</string>
					</dict>
					<key>name</key>
					<string>净化搜索界面</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>9</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>9</integer>
								<key>value</key>
								<integer>0</integer>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>WMMVPIconInfo</string>
						<key>displayName</key>
						<string>- (void)​setIconUrl:(id)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>setIconUrl:</string>
						<key>typeEncoding</key>
						<string>v24@0:8@16</string>
					</dict>
					<key>name</key>
					<string>外卖界面～右下角漂浮</string>
					<key>overrides</key>
					<array/>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>WMPGASingleBannerViewModel</string>
						<key>displayName</key>
						<string>- (bool)​isShowAcrossBanner</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>isShowAcrossBanner</string>
						<key>typeEncoding</key>
						<string>B16@0:8</string>
					</dict>
					<key>name</key>
					<string>外卖界面～顶部广告横幅</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>WMPGABannerPagingViewModel</string>
						<key>displayName</key>
						<string>- (void)​setupData</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>setupData</string>
						<key>typeEncoding</key>
						<string>v16@0:8</string>
					</dict>
					<key>name</key>
					<string>外卖界面～中部广告横幅</string>
					<key>overrides</key>
					<array/>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>MBCContainerViewController</string>
						<key>displayName</key>
						<string>- (long long)​collectionView:(id) numberOfItemsInSection:(long long)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>collectionView:numberOfItemsInSection:</string>
						<key>typeEncoding</key>
						<string>q32@0:8@16q24</string>
					</dict>
					<key>name</key>
					<string>精简我的界面</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>9</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>9</integer>
								<key>value</key>
								<integer>2</integer>
							</dict>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
